[_header_nav] {
  width: 100%;
  z-index: 99 !important;
  position: fixed !important;
  top: 0;
  top: constant(safe-area-inset-top);
  top: env(safe-area-inset-top);
  left: 0;
}

[_footer_nav] {
  width: 100%;
  z-index: 99 !important;
  position: fixed !important;
  bottom: 0;
  left: 0;
}

[_clone-placeholder] {
  position: relative !important;
}

[_swiper--slide-to--index],
[_component-dialog-id] {
  cursor: pointer;
}

[_dialog-wrap] {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  height: 100% !important;
  width: 100% !important;
  overflow: hidden !important;
  z-index: 999 !important;
  background: rgba(0, 0, 0, 0.5) !important;
  display: none !important;
  justify-content: center;
  align-items: center;
  &[_dialog-wrap-show] {
    display: flex !important;
  }

  & > [_dialog-inner-wrap] {
    position: relative;
    width: auto;
    height: auto;
  }
  [_dialog-close] {
    position: absolute;
    top: -1rem;
    right: -1rem;
    height: 1rem;
    width: 1rem;
    z-index: 9;
    cursor: pointer;
    background: url('https://p.dyrs.cc/202204/18/6859mqy9wmostndf/6xamq9a4uulmj5amz1symqbx1y5s9fak.png')
      no-repeat center center;
    background-size: 0.5rem 0.5rem;
  }
}
